{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1>조회</h1>
  {{ user.username}}
  <p>팔로우{{ user.followings.count }}</p>
  <p>팔로워{{ user.followers.count }}</p>
  {% for i in user.followings.all %}
    <p>팔로우 목록:{{ i }},</p>
  {% endfor %}

  {% for i in user.followers.all %}
    <p>팔로워 목록:{{ i }},</p>
  {% endfor %}
  {% if request.user != user %}
    <form action="{% url 'accounts:follow' user.pk %}" method="POST">
      {% if request.user.is_authenticated %}
        {% csrf_token %}
        {% if request.user in user.followers.all %}
          {%bootstrap_button button_type="submit" content="팔로우 취소"%}
        {% else %}
          {%bootstrap_button button_type="submit" content="팔로우"%}
        {% endif %}
      </form>
    {% else %}
      {%bootstrap_button button_type="submit" content="로그인 필요합니다."%}
    {% endif %}
  {% endif %}
  <h4>작성한 리뷰</h4>
  <p>{{ user.review_set.count }}개를 작성하였습니다.</p>
  {% for i in user.review_set.all %}
    <a class="text-dark" href="{% url 'reviews:store_detail' i.store.pk %}" style="text-decoration:none;">
      <div class="container">
        <div class="fs-3">{{ i.store.store_name }}</div>
        <div>{{ i.content|truncatewords:10 }}</div>
        <hr>
      </div>
    </a>
  {% endfor %}
  <p>
    <b>{{ user.comment_set.count }}개의 댓글이 있습니다.</b>
  </p>
{% endblock content %}