{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}

<h3>{{user.username}}
  My page</h3>
{% for i in user.profile_set.all %}
{% if i.image %}
<img src="{{ i.image.url }}" alt="" style="width: 100px; height: 100px; border-radius: 500px">
{% else %}
<img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="" style="width: 100px; height: 100px;">
{% endif %}
{% endfor %}
<p>{{user.email}}
  <a href="{% url 'accounts:profile_update' %}" class='btn btn-outline-success ms-5'>프로필 수정</a>
</p>
<p>
  <a href="{% url 'accounts:update' %}" class='btn btn-outline-primary'>회원 정보 수정하기</a>
</p>
{% endblock content %}