{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<br>
<br>
  <h3>{{user.username}}
    My page</h3>
  {% if profile.image %}
    <img src="{{ profile.image.url }}" alt="" style="width: 100px; height: 100px; border-radius: 500px">
  {% else %}
    <img src="" class="" style="width: 100px; height: 100px;">
  {% endif %}
  <p>{{user.email}}
    <a href="{% url 'accounts:profile_update' %}" class='btn btn-outline-success ms-5'>프로필 수정</a>
  </p>
  <p>
    <a href="{% url 'accounts:update' %}" class='btn btn-outline-primary'>회원 정보 수정하기</a>
  </p>
{% endblock content %}
